.banner {
    background-color: white;
    padding: 150px 0px;
    background-size: cover;
    background-position: center;
    margin-top: -75px;
}

.banner h2 {
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 40px;
}

.banner img{
    margin-bottom: -50px;
}